@{
    ViewData["Title"] = "Home Page";
}

<style>
    #file{
        border-radius:25px;
        border-color:rgba(0, 0, 0, 0.00);
        background-color:#000000;
        color:#ffffff;
        font-weight:bold;
    }
    #sumbit {
        border-radius: 25px;
        border-color: rgba(0, 0, 0, 0.00);
        background-color:#34c81d;
        color:#ffffff;
        font-weight:bold;
    }
    input,select,option{
        border-radius:25px!important;
    }
</style>

<div class="container">
    <div class="row" style="background-color:aliceblue;">
        <div class="col-md-12 text-center">
            <h3>Upload Image</h3>
            <hr />
        </div>
        <div class="col-md-12 text-center">
            <form id="form" name="form" action="/uploader" enctype="multipart/form-data" method="post">
            <div class="buttons">
                <div class="upload-button">
                    <input id="file" name="files" type="file" size="1" multiple >
                </div>
            </div>
            </form>
            <hr />
            <select class="form-control w-50" id="categorySelectList"></select>
            <br />
            <input type="button" id="sumbit" value="Upload Files" />
            <hr />
            <h5>Förhandsvisning senast uppladdat</h5>
        </div>
        <br />
        <div class="col-md-12 text-center" id="imageHolder">
            <img src="" id="imgPreView" />
        </div>
    </div>
    <div class="row mt-5" style="background-color:antiquewhite;">
        <div class="col-md-12 text-center ">
            <h3>Create a new category</h3><hr />
        </div>
        <div class="col-md-12 text-center">
            <input type="text" placeholder="Name" class="form-control w-50" id="categoryName" />
        </div>
        <div class="col-md-12 text-center mt-3">
            <button class="btn btn-sm btn-success" id="sumbitCategory">Create category</button>
        </div>
    </div>
    <div class="row mt-5" style="background-color:aquamarine;">
        <div class="col-md-12 text-center">
            <h3>Categories</h3>
            <hr />
        </div>
        <div class="col-md-6 text-center">
           
        </div>
        <div class="col-md-3" id="displayCategoryName">

        </div>
        <div class="col-md-3 text-center">
            <img src="" class="img-fluid" />
        </div>
    </div>
    <div class="row mt-5" style="background-color:burlywood;">
        <div class="col-md-12 text-center">
            <h3 class="title">Images</h3>
            <hr />
        </div>
        
        <div class="col-md-12">
            <div class="row" id="img-list">

            </div>
            
        </div>
    </div>
</div>

<style>
    #categoryName, select{
        margin: auto;
    }
    .title{
        text-decoration:underline;
        padding:5px 5px;

    }
    img{
        padding:5px 5px;
    }
</style>

